{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}

{% block content%}
    <!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Đội ngũ y tế giàu kinh nghiệm</h2>
								<img src="https://res.cloudinary.com/dbkshen63/image/upload/v1732031523/section-img.png" alt="style">
							<p>Tmed cung cấp nền tảng Tmed - giải pháp tiếp cận y tế thông minh mang đến cho người dùng những phương thức chăm sóc sức khỏe mới, ở bất cứ không gian - thời gian nào thông qua nền tảng trực tuyến tương tác cao, kết nối với các cơ sở y tế hàng đầu cùng đội ngũ chuyên gia y tế đông đảo, tận tình, giàu kinh nghiệm.</p>
						</div>
					</div>
				</div>
					<div class="col-lg-12 col-md-12 ">
						<div class="appointment-image">
							<img src="https://res.cloudinary.com/dbkshen63/image/upload/v1732035148/contact-img.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->



{% endblock %}

