{% extends 'layout/base.html' %}

{% block title %}Register{% endblock %}

{% block content%}

{% if err_msg %}
<div class="alert alert-danger">{{err_msg}}</div>
{% endif %}

<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row"> 
						<div class="col-lg-6">
							<div class="contact-us-left">
								<div> <img src="https://res.cloudinary.com/dbkshen63/image/upload/v1732208191/f072qf2uuafwhnjrqm3q.jpg"> </div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="contact-us-form">
								<h2>Đăng nhập</h2>
								<!-- Form -->
								<form class="form" method="post" action="/login">
									<div class="row">
										<div class="col-lg-8">
											<div class="form-group">
												<input type="text" name="username" placeholder="Tên đăng nhập" id = "username" required>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="form-group">
												<input type="password" name="password" placeholder="Mật khẩu" id = "password" required>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="form-group login-btn">
												<button class="btn" type="submit">Send</button>
											</div>
											<div class="checkbox">
												<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Lưu mật khẩu</label>
											</div>
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info">
					<div class="row">
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-ui-call"></i>
								<div class="content">
									<h3>+(84) 1234 56789</h3>
									<p>CongDat@company.com</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont-google-map"></i>
								<div class="content">
									<h3>Quận 2</h3>
									<p>Thành phố Hồ Chí Minh</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-wall-clock"></i>
								<div class="content">
									<h3>T2 - T6: 8am - 8pm</h3>
									<p>T7: 9am - 6.30pm</p>
                                    <p>CN: 9am - 3pm</p>

								</div>
							</div>
						</div>
						<!--/End single-info -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
{% endblock %}